node_modules
.DS_Store
.vscode
gen/out
test/smoke/out/
test/smoke/imgui.ini
test/smoke-js/out/
test/smoke-js/imgui.ini
test/smoke-cs/out/
test/ceramic-demo/.haxelib
test/ceramic-demo/out/
test/ceramic-demo/project/
test/ceramic-demo/.ceramic/
test/ceramic-demo/completion-flags.json
.venv-dear-bindings
